<footer class="bg-gray-900 p-6 md:py-12 w-full">
    <div class="container max-w-7xl grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-8 text-sm">
      <div class="grid gap-1">
        <h3 class="font-semibold text-gray-400">Portfolio</h3>
        <a class="text-gray-400 hover:underline" routerLink="/home">
          Home
        </a>
        <a class="text-gray-400 hover:underline" routerLink="/about">
          About
        </a>
        <a routerLink="/contact" class="text-gray-400 hover:underline" >
          Contact
        </a>
      </div>
      <div class="grid gap-1">
        <h3 class="font-semibold text-gray-400">Projects</h3>
        <a class="text-gray-400 hover:underline" href="https://github.com/TheIcySpark/Society-events" target="_blank">
          Society Events
        </a>
        <a class="text-gray-400 hover:underline" href="https://edward997.github.io/portfolioTeam/" target="_blank">
          Team Portfolio
        </a>
      </div>
      <div class="grid gap-1">
        <h3 class="font-semibold text-gray-400">Social</h3>
        <a class="text-gray-400 hover:underline" href="https://www.linkedin.com/in/edward-navarrete-055341228/" target="_blank">
          LinkedIn
        </a>
        <a class="text-gray-400 hover:underline" href="https://github.com/Edward997" target="_blank">
          GitHub
        </a>
      </div>
      <div class="grid gap-1"></div>
    </div>
  </footer>
  